prefer-no-csd

input {
    keyboard {
        xkb {
            layout "us"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-speed 0.6
    }
}

output "YOUR_MONITOR_NAME" {
    mode "1920x1080@60"
    scale 1.0
    position x=0 y=0
}

layout {
    background-color "transparent"
    gaps 5
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off
        width 2
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        softness 30
        spread 2
        offset x=0 y=5
        color "#0007"
    }

    struts { }
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

spawn-at-startup "waybar"
spawn-at-startup "dbus-update-activation-environment" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP=Niri" "XDG_SESSION_TYPE=wayland"
spawn-at-startup "wlsunset" "-t" "2500" "-T" "3000"
spawn-at-startup "bash" "-c" "$HOME/.config/swaybg/random_wallpaper.sh"
spawn-at-startup "nm-applet"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    opacity 0.75
}

window-rule {
    match is-focused=true
    opacity 0.85
}

window-rule {
    match app-id=r#"(?i)(viewnior|mpv)"#
    opacity 1.0
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Shift+Z { set-dynamic-cast-monitor; }
    Mod+Ctrl+Z { set-dynamic-cast-window; }
    Mod+Alt+Z { clear-dynamic-cast-target; }
    Mod+N { spawn "swaync-client" "-t" "-sw"; }
    Mod+Return { spawn "foot"; }
    Mod+Space { spawn "fuzzel"; }
    Mod+Alt+L { spawn-sh "$HOME/.local/bin/lockscreen.sh"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+ -l 1.0 && notify-send -h string:x-canonical-private-synchronous:volume -h int:value:$(wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2 * 100}') 'Volume'"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%- && notify-send -h string:x-canonical-private-synchronous:volume -h int:value:$(wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2 * 100}') 'Volume'"; }
    XF86AudioMute allow-when-locked=true { spawn "sh" "-c" "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle && if [ \"$(wpctl get-volume @DEFAULT_AUDIO_SINK@ | grep -o 'MUTED')\" ]; then notify-send -h string:x-canonical-private-synchronous:volume 'Muted'; else notify-send -h string:x-canonical-private-synchronous:volume -h int:value:$(wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2 * 100}') 'Unmuted'; fi"; }
    XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86PowerOff { spawn-sh "$HOME/.local/bin/laptop-suspend.sh"; }
    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "sh" "-c" "brightnessctl set +5% && notify-send -h string:x-canonical-private-synchronous:brightness -h int:value:$(brightnessctl i | grep -oP '\\(\\K[^%]+') 'Brightness'"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "sh" "-c" "brightnessctl set 5%- && notify-send -h string:x-canonical-private-synchronous:brightness -h int:value:$(brightnessctl i | grep -oP '\\(\\K[^%]+') 'Brightness'"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+X repeat=false { close-window; }
    Mod+Left { focus-column-left; }
    Mod+Down { focus-window-down; }
    Mod+Up { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-column-width-back; }
    Mod+Ctrl+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+M { maximize-window-to-edges; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+V { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
    Shift+Print { spawn-sh "$HOME/.local/bin/niri-record.sh"; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }
}

environment {
    LANG "en_US.UTF-8"
    LC_ALL "en_US.UTF-8"
}
